
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<form action="/Account/Store" method="post">
    <div>
        Username <input type="text" name="username" />
    </div>
    <div>
        Email <input type="email" name="email" />
    </div>
    <div>
        Password <input type="password" name="password" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>

